<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>EndPoint</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Terminal+Dosis" />
</head>

<body>
<div class="wrapper">
	<img class="computer" src="CN2017.svg" alt="Computer Screen">
	<div class="text">
		<p><%= id %></p>
	</div>
	
</div>
</body>
</html>
